
html, body {
  /* Want html & body to occupy entire viewport so footer sticks
     to the bottom of the page. */
  height: 100%;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: bisque;
}

.bg-primary {
  background-color: #482d06 !important;
}

footer {
  min-width: 100%;
  max-width: 100%;
  background: #482d06;
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center; /*Center text vertically*/
  margin-top: 20px;
}

.footerItems {
    font-size: 80%;
    margin: 0;
}

.card-footer {
  background: transparent;
  border-top: 0px;
}
